* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffb6ff;
  color: #1b1b1e;
}

.header {
  /* background-color: #f26b38; */
  background-color: #e0aaff;
  color: #ffffff;
  padding: 16px 48px 16px 48px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0.125em;
}

.nav-section {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.nav-link > a {
  text-decoration: none;
  color: white;
}

.nav-link > a:hover {
  color: #1b1b1e;
}

.nav-icon > h2 {
  color: #1b1b1e;
}

.hero-section {
  /* border: 2px solid black; */
  /* margin: 28px 0 20px 0; */
  text-align: center;
  color: #1b1b1e;
  background-image: linear-gradient(to right, #ffd6ff, #f3e8ff);
}

.hero-title {
  /* border: 2px solid black; */
  margin: 24px 0 0 0;
  padding: 16px 0 0 0;
  font-size: 48px;
}

.hero-section > button {
  padding: 16px;
  margin: 40px 0 40px 0;
  background-color: #1a1a1d;
  color: #ffffff;
  border: solid 1px #f26b38;
  border-radius: 16px;
}

.hero-section > button:hover {
  background-color: #f15f28;
  transition: background-color 1s, border-color 2s;
  border: solid 1px magenta;
  cursor: pointer;
}

article > h1 > span {
  display: block;
  color: #3c096c;
}

footer {
  background-color: #1b1b1e;
  color: white;
  padding: 26px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
